# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
.next/
out/
dist/
dist-ssr/

# Local env files (keep them safe!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel local config (don’t commit)
.vercel/

# Editor & system files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
